@import url("@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');");

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    color: #fff;
    padding: 30px 60px;
    border-radius: 15px;
}

form input{
    background: none;
    border: 2px solid #fff;
    height: 42px;
    border-radius: 9px;
    margin: 9px 0;
    width: 230px;
    color: #fff;
    outline: none;
}

form button{
    border: 2px solid #fff;
    border-radius: 9px;
    padding: 6px;
    margin: 9px 0;
    width: 230px;
    font-weight: bold;
    color: cadetblue;
    background-color: #fff;
}