<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
        <title>Home</title>
    </head>
    <body style="height: 90vh; background:#fefefe;" class="d-flex flex-column align-items-center justify-content-center">
        <h3 style="margin-bottom: 24px">Busque um paciente<br/>pelo email</h3>
        <div class="container d-flex justify-content-center">
            <form style="border:1px solid #0002;padding:24px;border-radius: 12px;"
            class="row g-3 d-flex flex-column" action="/paciente" method="get">
                <label for="inputEmail">Email</label>
                <input id="inputEmail" class="form-control"  type="email" name="email" placeholder="user@exemple">
                <button style="margin-top:18px;" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <a style="margin-top:12px;" href="/listaPacientes">Ver todos os pacientes</a>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>